{% extends "base.html.twig" %}
{% block title %}Liste des Medecins{% endblock %}

{% block body %}
<div class="container">
<br/>
<h3 style="position:relative; text-align:center;"> Ajouter un medecin </h3>
<br/>
<br/>
<div class="row">
    <div class="lg-col-6" style="position:relative; margin-left:-60px">

        {{form_start(form,{'action':path("medecin.medecin.affiche")})}}


            <div class="form-group">
                {{form_row(form.prenom,{'attr':{'class':'form-control'}})}}
            </div>

            <div class="form-group">
                {{form_row(form.nom,{'attr':{'class':'form-control'}})}}
            </div>

               <div class="form-group">
                {{form_row(form.datenaissance,{'attr':{'class':'form-control'}})}}
            </div>


    <div class="md-col-6" style="position:relative; margin-top:-259px; padding-top:-50px; margin-left:600px">

            <div class="form-group">
                {{form_row(form.Tel,{'attr':{'class':'form-control'}})}}
            </div>
         
             <div class="form-group">
                {{form_row(form.Email,{'attr':{'class':'form-control'}})}}
            </div>

            <div class="form-group">
                {{form_row(form.service,{'attr':{'class':'form-control'}})}}
            </div>

    <label>Specialite</label>

        <div class="form-group">

            {{form_widget(form.specialites,{'attr':{'class': 'custum-select mr-md-2'}})}}
        </div>
    </div> 
</div>
<br/>
<br/>
<br/>
<br/>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="position:relative; margin-top:340px; left:70px"> Ajouter </button>
        </div>
{{form_end(form)}}
</div>
{% endblock %}