{% extends 'base.html.twig' %}


{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>matricule</th>
            <th>prenom</th>
            <th>nom</th>
            <th>datenaissance</th>
            <th>Email</th>
            <th>Tel</th>
            <th>service</th>
            <th>specialites</th>
            
        </tr>                             
    </thead>
    <tbody>
{% for medecin in medecins %}

        <tr>
            <td>{{medecin.id}}</td>
            <td>{{medecin.matricule}}</td>
            <td>{{medecin.prenom}}</td>
            <td>{{medecin.nom}}</td>
            <td>{{medecin.datenaissance | date ("d-M-Y")}}</td>
            <td>{{medecin.Email}}</td>
            <td>{{medecin.Tel}}</td>
            <td>{{medecin.service}}</td>
            <td>{% for specialite in medecin.specialites %}{{specialite.libelle}}{% endfor %}</td>
            <td>
                    <button type="submit" ><a href="{{path('medecin.medecin.edit',{'id':medecin.id})}}"> Modifier</a></button>
                    <button type="submit" ><a href="{{path('medecin.medecin.delete',{'id':medecin.id})}}"> Supprimer</a></button>
            </td>
        </tr>

{% endfor %}

    </tbody>
</table>
 <button type="submit" ><a href="{{path('medecin.medecin.add')}}"> Ajouter</a></button>
 <button type="submit" ><a href="/"> Retour</a></button>
{% endblock %}
    
              
