{% extends 'base.html.twig' %}


{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>libelle</th>
            
        </tr>
    </thead>
    <tbody>
{% for service in services %}
        <tr>
           
            <td>{{service.id}}</td>
            <td>{{service.libelle}}</td>
            <td><button type="submit" ><a href="{{path('admin.service.edit',{'id':service.id})}}"> Modifier</a></button>
                <button type="submit" ><a href="{{path('admin.service.delete',{'id':service.id})}}"> Supprimer</a></button>
            </td>
        </tr>
{% endfor %}

    </tbody>
</table>
 <button type="submit" ><a href="{{path('admin.service.add')}}"> Ajouter</a></button>
 <button type="submit" ><a href="/"> Retour</a></button>
      
       
{% endblock %}
